body {
    background-color: #192133;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 9;
}

.container {
    text-align: center;
}

h1 {
    font-size: 4em;
    margin-bottom: 60px;
}

.profiles {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 60px;
}

.profile {
    text-align: center;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 12px;
    border: 9px solid #fff;
}

.blue {
    background-color: #1f8ef1;
}

.yellow {
    background-color: #fbc531;
}

.red {
    background-color: #e84118;
}

.green {
    background-color: #2ecc71;
}

.purple {
    background-color: #9b59b6;
}

p {
    font-size: 1.2em;
    margin: 10;
}

button {
    background-color: #1a73e8;
    color: #fff;
    border: none;
    padding: 10px 28px;
    font-size: 2em;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: #185abc;
}
